# Ignore everything
*

# Except txt, but not changelog
!*.txt
changelog.txt

!*.md
!*.sh
!*.lmp
!.gitignore

!source
source/*
!source/*.acs

!acs
acs/*
!acs/*.o

!sounds
sounds/*
!sounds/*.wav

!sprites
sprites/*
!sprites/*.png
!sprites/*.lmp
