# Ignore everything, but not directories:

*
!**/

# Except the following file types:

!.gitignore
!.gitattributes

!**.acs
!**.fon2
!**.lmp
!**.md
!**.o
!**.png
!**.sh
!**.txt
!**.wav
!**.zs

# But do ignore this:

changelog.txt
